
  <h2 class="text-center">{{'New recipe' | translate}}</h2>
  <form #f="ngForm">
    <div class="form-group">
      <label for="email">{{'Title' | translate}}</label>
      <input type="title"  [(ngModel)]="recipe.title" placeholder="{{'Title' | translate}}" name="title" class="form-control"
             #username="ngModel" required id="email">
      <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required">{{'Username is required' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">{{'Description' | translate}}</label>
      <input [(ngModel)]="recipe.description" placeholder="{{'Description' | translate}}" name="Description" class="form-control" id="firstName">
    </div>


    <div class="form-group">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let ingredient of recipe.ingredients" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(ingredient)">
            {{ingredient.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"
          >
        </mat-chip-list>
      </mat-form-field>
    </div>


    <button class="btn btn-success" (click)="createRecipe()">{{'Create' | translate}}</button>
    <a href="/recipes" class="btn btn-success">{{'Back' | translate}}</a>
  </form>
