<br>
  <form id="forma" #f="ngForm" >
    <div class="form-group">
      <mat-card>
        <label for="title"><h3 class="text-center">{{'Title' | translate}}*</h3></label>
      <input type="text"   [(ngModel)]="recipe.title" placeholder="{{'Title' | translate}}" name="title" class="form-control"
             #title="ngModel" required minlength="3" id="title">
        <div *ngIf="title.invalid && title.touched">
          <div *ngIf="title.errors.required" class="alert alert-danger">{{'Name is required' | translate}}</div>
          <div *ngIf="title.errors.minlength" class="alert alert-danger">{{'Name must be at least 3 characters' | translate}}</div>
        </div>
        </mat-card>
    </div>
<div>
  <mat-card>
    <label for="category"><h3 class="text-center">{{'Category' | translate}}*</h3></label>
    <input type="text"   [(ngModel)]="recipe.category" placeholder="{{'Category' | translate}}" name="category" class="form-control"
           #category="ngModel" required minlength="3" id="category">
    <div *ngIf="category.invalid && category.touched">
      <div *ngIf="category.errors.required" class="alert alert-danger">{{'Category is required' | translate}}</div>
      <div *ngIf="category.errors.minlength" class="alert alert-danger">{{'Category must be at least 3 characters' | translate}}</div>
    </div>
  </mat-card>
  <br>
  <mat-card>
    <h3 class="first">{{'Description' | translate}}*</h3>
    <p-editor [(ngModel)]="recipe.description" id="description" #description="ngModel" name="description" [style]="{'height':'320px'}" required minlength="3"></p-editor>
    <div *ngIf="description.invalid && description.touched">
      <div *ngIf="description.errors.required" class="alert alert-danger">{{'Description is required' | translate}}</div>
      <div *ngIf="description.errors.minlength" class="alert alert-danger">{{'Description must be at least 3 characters' | translate}}</div>
    </div>
    <br>
    <button style="background-color: skyblue; color: rgba(0, 000, 000, 0.7); " class="btn" pButton  icon="pi pi-times" mat-icon-button="clear"  type="button" label="{{'Clear' | translate}}" (click)="recipe.description=null"></button>
  </mat-card>
</div>

    <br>

    <div class="form-group">
      <mat-card class="example">
        <h4>{{'Ingredient' | translate}}</h4>
      <mat-form-field class="example-chip-list">
        <mat-chip-list  #chipList>
          <mat-chip   *ngFor="let ingredient of recipe.ingredients" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(ingredient)">
            {{ingredient.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="{{'New ingredient' | translate}}"

                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"
          >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let ingredient of all" [value]="ingredient">
            {{ingredient}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </mat-card>
    </div>


    <button class="btn" type="submit" (click)="createRecipe()" id="submit"   style="background-color: skyblue; color: rgba(0, 000, 000, 0.7);" [disabled]="f.invalid">{{'Create' | translate}}</button>
  </form>
  <br>
  <br>
  <br>
  <br>

