<!--<br>-->
<!--<h3>{{'Name' | translate}}:</h3>-->
<!--<span pInplaceDisplay>-->
        <!--{{user.name}}-->
    <!--</span>-->
<!--<span pInplaceContent>-->
      <!--<form style="display: inline;">-->
        <!--<div class="ui-inputgroup">-->
            <!--<input type="text" pInputText value="{{user.name}}">-->
          <!--<button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>-->
            <!--<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>-->
        <!--</div>-->
        <!--</form>-->
    <!--</span>-->
<br>
<mat-card *ngIf="user">
  <h3>{{'Name' | translate}}:</h3>
  <p-inplace [active]="isUserNameActive" (onActivate)="updateUser()">
    <span pInplaceDisplay class="in-place-container">
        {{user.name}}
        <mat-icon>create</mat-icon>
    </span>
    <span pInplaceContent>
      <form style="display: inline;" #f="ngForm">
        <div class="ui-inputgroup" required minlength="3">
            <input type="text" pInputText class="form-control" name="username" [(ngModel)]="user.name" #username="ngModel"  required minlength="3">
          <button pButton type="button" icon="pi pi-check" class="ui-button-success"  [disabled]="username.invalid" (click)="updateUser(true)"></button>
            <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="updateUser()"></button>
        </div>
        <div *ngIf="username.invalid">
          <div *ngIf="username.errors.required" class="alert alert-danger">{{'Username is required' | translate}}</div>
          <div *ngIf="username.errors.minlength" class="alert alert-danger">{{'Username must be at least 3 characters' | translate}}</div>
        </div>
        </form>
    </span>
  </p-inplace>
  <h3>{{'Username' | translate}}:</h3>
  <span>{{user.username}}</span>
  <h3>{{'Email' | translate}}:</h3>
  <span>{{user.email}}</span>
</mat-card>


<br>
<mat-card>
  <h2> {{'User Details' | translate}}</h2>
  <p-table #dt [columns]="cols" [globalFilterFields]="['title','category','averageRating','date','ingredients']"
           [value]="selectedRecipes" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header | translate}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'title'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'category'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <div *ngSwitchCase="'averageRating'">
            Value <= {{ratingFilter - 1}}
            <i class="fa fa-close" (click)="ratingFilter=null; dt.filter(null, col.field, col.filterMatchMode)"
               style="cursor:pointer" *ngIf="ratingFilter"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="ratingFilter" [min]="1" [max]="6"
                      (onChange)="onRatingChange($event, dt)"></p-slider>
          </div>
          <div *ngSwitchCase="'date'">
            <p-calendar
              [(ngModel)]="dateFilters"
              appendTo="body"
              selectionMode="range"
              [readonlyInput]="false"
              dateFormat="dd.mm.yy"
              (onSelect)="dt.filter($event, col.field, 'dateRangeFilter')">
            </p-calendar>
          </div>
          <p-multiSelect *ngSwitchCase="'ingredients'" [options]="allIngredients" defaultLabel="All Ingredients"
                         optionLabel="name" (onChange)="onFilterIngredients($event, dt)"></p-multiSelect>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.field !== 'ingredients'">
          {{rowData[col.field]}}
          </span>
          <span *ngIf="col.field === 'ingredients'">
            <!--{{rowData[col.field][0].name}}-->
    <span *ngFor="let ingredient of rowData[col.field]">{{ingredient.name}}
    </span>
          </span>
          <div *ngIf="col.field == 'button'">
            <!--<p-dropdown [options]="buttons" (onChange)="act(rowData, $event)"></p-dropdown>-->
            <div class="d-flex justify-content-center">
              <button pButton type="button" (click)="goToCheck(rowData)" icon="pi pi-info"></button>
              <button pButton type="button" (click)="editRecipe(rowData)" icon="pi pi-pencil"
                      class="ui-button-success"></button>
              <button pButton type="button" (click)="deleteRecipe(rowData)" icon="pi pi-trash"
                      class="ui-button-danger"></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</mat-card>
<br>
<br>
