
  <h2> {{'User Details' | translate}}</h2>
  <table class="table table-striped table-active">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>{{'Title' | translate}}</th>
      <th>{{'Recipe' | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <th class="hidden">{{recipe.id}}}</th>
      <th>{{recipe.title}}</th>
      <th>{{recipe.description}}</th>
      <th><mat-icon>favorite</mat-icon></th>
      <th>
        <button class="btn btn-success" (click)="goToCheck(recipe)" style="margin-left: 20px;"> {{'CHECK' | translate}}</button>
        <button class="btn btn-success" (click)="editRecipe(recipe)" style="margin-left: 10px;"> {{'EDIT' | translate}}</button>
        <button class="btn btn-danger btn-success" (click)="deleteRecipe(recipe)" style="margin-left: 10px;"> {{'DELETE' | translate}}</button>
      </th>
    </tr>
    </tbody>
  </table>

