
  <h2> {{'User Details' | translate}}</h2>
  <!--<p-table [globalFilterFields]="['notes','price','carType.name','nameOfCustomer']" >-->
  <p-table #dt [columns]="cols" [globalFilterFields]="['title','category','averageRating','date','ingredients']" [value]="selectedRecipes" [paginator]="true" [rows]="5">
    <!--<ng-template pTemplate="caption">-->
      <!--<div style="text-align: right">-->
        <!--<i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
        <!--<input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">-->
      <!--</div>-->
    <!--</ng-template>-->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'title'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <div *ngSwitchCase="'averageRating'">
            Value <= {{ratingFilter-1}}
            <i class="fa fa-close" (click)="ratingFilter=null; dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="ratingFilter"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="ratingFilter" [min]="1" [max]="6" (onChange)="onRatingChange($event, dt)"></p-slider>
          </div>
          <div *ngSwitchCase="'date'">
            <p-calendar
              [(ngModel)]="dateFilters"
              appendTo="body"
              selectionMode="range"
              [readonlyInput]="false"
              dateFormat="dd.mm.yy"
              (onSelect)="dt.filter($event, col.field, 'dateRangeFilter')">
            </p-calendar>
          </div>
            <p-multiSelect *ngSwitchCase="'ingredients'" [options]="allIngredients" defaultLabel="All Ingredients" optionLabel="name" (onChange)="onFilterIngredients($event, dt)"></p-multiSelect>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.field !== 'ingredients'">
          {{rowData[col.field]}}
          </span>
          <span *ngIf="col.field === 'ingredients'">
            <!--{{rowData[col.field][0].name}}-->
    <span *ngFor="let ingredient of rowData[col.field]">{{ingredient.name}}
    </span>
          </span>
          <div *ngIf="col.field == 'button'">
          <!--<p-dropdown [options]="buttons" (onChange)="act(rowData, $event)"></p-dropdown>-->
            <div class="d-flex justify-content-center">
              <button pButton type="button" (click)="goToCheck(rowData)" icon="pi pi-info"></button>
              <button pButton type="button" (click)="editRecipe(rowData)" icon="pi pi-pencil" class="ui-button-success"></button>
              <button pButton type="button" (click)="deleteRecipe(rowData)" icon="pi pi-trash" class="ui-button-danger"></button>
            </div>
            </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <table class="table table-striped table-active">
    <thead>
    <tr>
      <th>{{'Title' | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <th>{{recipe.title}}</th>
      <th>{{recipe.date}}</th>
      <th>

        <button class="btn btn-success" (click)="goToCheck(recipe)" style="margin-left: 20px;"> {{'CHECK' | translate}}</button>
        <button class="btn btn-success" (click)="editRecipe(recipe)" style="margin-left: 10px;"> {{'EDIT' | translate}}</button>
        <button class="btn btn-danger btn-success" (click)="deleteRecipe(recipe)" style="margin-left: 10px;"> {{'DELETE' | translate}}</button>
      </th>
    </tr>
    </tbody>
  </table>



