<h2> {{'User Details' | translate}}</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>{{'Title' | translate}}</th>
    <th>{{'Recipe' | translate}}</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipe of recipes">
    <td class="hidden">{{recipe.id}}}</td>
    <td>{{recipe.title}}</td>
    <td>{{recipe.description}}</td>

    <td>
      <rating [ngModel]="recipe.recipe_rating" [(ngModel)]="starsCount" (click)="createRating(recipe.id)">
      </rating>
    </td>
    <td>
      <button class="btn btn-success" (click)="goToCheck(recipe)"
              style="margin-left: 20px;"> {{'CHECK' | translate}}</button>
    </td>
  </tr>
  </tbody>
</table>
