<div class="semiopacity">
<h2> {{'User Details' | translate}}</h2>
<mat-chip-list >
  <h2>{{'Tags' | translate}}:</h2>
  <mat-chip color="warn" selected (click)="getAll()">{{'All ingredients' | translate}}
  </mat-chip>
  <mat-chip color="primary" selected *ngFor="let ingredient of all" [value]="ingredient.name" (click)="getSearchRecipes(ingredient)">{{ingredient.name}}
  </mat-chip>
</mat-chip-list>
<table class="table table-striped">
  <thead>
  <tr>
    <th>{{'Title' | translate}}</th>
    <th>{{'Rating' | translate}}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipe of recipes">
    <td>{{recipe.title}}</td>
    <td>
      <rating [readonly]="tokenStorage.getToken()? false: true" [ngModel]="recipe.recipe_rating" [(ngModel)]="starsCount" (click)="createRating(recipe.id)">
      </rating>
    </td>
    <td>
      <button class="btn float"  (click)="goToCheck(recipe)"
              style="background-color: skyblue;"> {{'CHECK' | translate}}</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
