.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;

}
.example20{
  width:100%;
}
img { height: 10%!important;
  width: 20px !important;
}
.heard{
  color: skyblue;
  cursor: pointer;
}

img

{
  display: block;
  height: auto;
  max-width: 100%;

}
