<div class="back" [ngStyle]="{background: theme ==1?'url(./assets/background-image/vegetable.jpg) no-repeat center center fixed' : 'url(../assets/background-image/sweets.jpg) no-repeat center center fixed'}">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn" routerLink="auth/login">{{'Main' | translate}}</a>
        </li>
        <li *ngIf="authority === 'admin' && tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn " routerLink="adminUserList">Admin Board</a>
        </li>
		<li *ngIf="authority === 'PM' && tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn " routerLink="adminUserList">PM Board</a>
        </li>
<li *ngIf="authority === 'PM' && tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn ">Copy project</a>
        </li>
        <li *ngIf="!tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn " routerLink="auth/login">{{'Login' | translate}}</a>
        </li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn " routerLink="addrecipes">{{'Add recipe' | translate}}</a>
        </li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link btn " routerLink="recipes">{{'Your recipes' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn " routerLink="allrecipes">{{'All recipes' | translate}}</a>
        </li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'Dropdown link' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown btn" role="button" (click)="clickedTrue()">{{'vegetable' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown btn"   role="button"(click)="clickedFalse()">{{'sweet' | translate}}</a>
            </div>
          </li>
        <li><button class=" btn btn-outline-primary my-2 my-sm-0" (click)="switchLanguage('ru')" style="margin-left: 10px;">{{'ru' | translate}}</button></li>

        <li><button class=" btn btn-outline-primary my-2 my-sm-0" (click)="switchLanguage('by')" >{{'bel' | translate}}</button></li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="logout()" style="margin-left: 10px;">{{'Logout' | translate}}</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

