<div class="back" [ngStyle]="{background: theme ==1?'url(assets/background-image/vegetable.jpg)': 'url(../assets/background-image/sweets.jpg)'}">
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">{{'Home' | translate}}</a></li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link" routerLink="auth/login">{{'Main' | translate}}</a>
        </li>
        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user" translate>User Board</a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li *ngIf="authority === 'pm'" class="nav-item">
          <a class="nav-link" routerLink="pm">PM Board</a>
        </li>
        <li *ngIf="!tokenStorage.getToken()" class="nav-item">
          <a class="nav-link" routerLink="auth/login">{{'Login' | translate}}</a>
        </li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link" routerLink="addrecipes">{{'Add recipe' | translate}}</a>
        </li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link" routerLink="recipes">{{'Your recipes' | translate}}</a>
        </li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <a class="nav-link" routerLink="allrecipes">{{'All recipes' | translate}}</a>
        </li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
        <li>
          <button class=" btn btn-outline-success my-2 my-sm-0" (click)="clickedTrue()">{{'vegetable' | translate}}</button>
        </li>
        <li><button class=" btn btn-outline-success my-2 my-sm-0" (click)="clickedFalse()">{{'fruit' | translate}}</button>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-divider" role="button" (click)="clickedTrue()">{{'vegetable' | translate}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown"  role="button"(click)="clickedFalse()">{{'fruit' | translate}}</a>
            </div>
          </li>
        <li><button class=" btn btn-outline-success my-2 my-sm-0" (click)="switchLanguage('ru')">ru</button></li>

        <li><button class=" btn btn-outline-success my-2 my-sm-0" (click)="switchLanguage('by')">by</button></li>
        <li *ngIf="tokenStorage.getToken()" class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">{{'Logout' | translate}}</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

