<div *ngIf="tokenStorage.getToken() else loggedOut">

  <h2> {{'User Details' | translate}}</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>{{'Title' | translate}}</th>
      <th>{{'Recipe' | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td class="hidden">{{recipe.id}}}</td>
      <td>{{recipe.title}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.recipe_rating}}</td>
      <td>
        <rating [ngModel]="recipe.recipe_rating" [(ngModel)]="starsCount"    (click)="createRating(recipe.id)">
        </rating>
      </td>
      <td>
        <button class="btn btn-success" (click)="goToCheck(recipe)"
                style="margin-left: 20px;"> {{'CHECK' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">{{'Username' | translate}}</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
               required/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">{{'Username is required' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{'Password' | translate}}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="2"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">{{'Password is required' | translate}}</div>
          <div *ngIf="password.errors.minlength">{{'Password must be at least 6 characters' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">{{'Login' | translate}}</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr/>
    <p>{{'Don\'t have an account?' | translate}}</p>
    <a href="signup" class="btn btn-success">{{'Sign Up' | translate}}</a>
  </div>
</ng-template>
